.card{
    color: white;
    margin-bottom: 70px;
    margin-top: 10px;
}
.image img{
    width: 300px;
    object-fit: contain;
}
.btnBron{
    background: transparent;
    border: 1px solid #ff0000;
    color: #ffffff; 
    padding: 10px 20px; 
    cursor: pointer; 
    width: 60%;
    margin: auto; /* Центрирование по горизонтали */
    display: block; /* Убеждаемся, что кнопка является блочным элементом */
    text-align: center; /* Центрирование текста внутри кнопки */
    font-size: 20px;
    margin-right: 86px;
}

hr{
    width: 90%;
}