.logo{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px; 
    right: 33px; 
    cursor: pointer;
  }
  
  .fixedBottomRight {
    position: fixed;
    bottom: 10px; 
    right: 10px; 
  }
  .input{
    border-radius: 8px;
    border: 0.1px;
    height: 10px;
    margin-top: 0px;
  }
  .btn{
    border-radius: 8px;
    border: 0.1px;
    height: 33px;
  }
  .wrapperText{
    background: 152331;
    color: white;
    border-radius: 10px
  }
  .wrapperAdd{
    display: flex;
  }